.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}
/* SearchBar.css */

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
  }
  
  .search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }

  /* Navbar.css */

.navbar-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Add margin between buttons if needed */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .navbar-button:hover {
    background-color: #0056b3; /* Change the background color on hover */
  }
  


  
